body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(226, 231, 236);
    padding: 50px;
    border-radius: 10px;
   text-align: center;
}
.quote-box{
    background-color: rgb(188, 192, 197);
    padding: 10px;
    margin: 20px 0;
    font-style: italic;
    border-radius: 5px;
    border-left:  4px solid blue;
}